
<!-- $Id: article_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js"}
<form action="users.php?act=vip" method="post">
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
     <tr>
          <td colspan="3" align="center" bgcolor="#FFFFFF">
            会员价格：<input type="text" value = '{$vip.price}' name='price'>元

          </td>

        </tr>
        <tr>
          <td width="33%" align="left" bgcolor="#FFFFFF">序号 </td>
          <td width="33%" align="left" bgcolor="#FFFFFF"> 成员</td>
          <td width="33%" align="left" bgcolor="#FFFFFF"> 金额</td>
        </tr>
        <tr>
          <td width="33%" align="left" bgcolor="#FFFFFF">1 </td>
          <td width="33%" align="left" bgcolor="#FFFFFF"> 成员1</td>
          <td width="33%" align="left" bgcolor="#FFFFFF"> <input type="text" value = '{$vip.type1}' name='type1'></td>
        </tr>
        <tr>
          <td width="33%" align="left" bgcolor="#FFFFFF">2 </td>
          <td width="33%" align="left" bgcolor="#FFFFFF"> 成员2</td>
          <td width="33%" align="left" bgcolor="#FFFFFF"> <input type="text" value = '{$vip.type2}' name="type2"></td>
        </tr>
        <tr>
          <td width="33%" align="left" bgcolor="#FFFFFF">3 </td>
          <td width="33%" align="left" bgcolor="#FFFFFF"> 成员3</td>
          <td width="33%" align="left" bgcolor="#FFFFFF"> <input type="text" value='{$vip.type3}' name='type3'></td>
        </tr>
        
        <tr>
          <td colspan="3" align="center" bgcolor="#FFFFFF">
            <input name="submit" type="submit" class="bnt_blue_1" style="border:none;" value="保存" />

          </td>

        </tr>
      </table>
      </form>